html,
body {
  margin: 0;
  padding: 0;
}
html,
body,
.content-block,
.content-item,
.content-inner {
  height: 100%;
}
.menu-block {
  top: 0;
  position: fixed;
  z-index: 9999999;
}
.menu-block .menu-items {
  width: 60px;
  height: 60px;
  position: absolute;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.menu-block .menu-items.fill {
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background-color: #000;
}
.menu-block .menu-items.main {
  left: 0;
}
.menu-block .menu-items.main:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border-bottom: 17px double #ad8820;
  border-top: 6px solid #ad8820;
  content: '';
  height: 5px;
  width: 30px;
  float: left;
}
.menu-block .menu-items.main:hover {
  background-color: #ad8820;
}
.menu-block .menu-items.main:hover:after {
  border-color: #000;
}
.menu-block .menu-items.main:hover .menu-drop {
  display: block;
}
.menu-block .menu-items.main .menu-drop {
  display: none;
  left: 60px;
  position: absolute;
  box-sizing: border-box;
  background-color: #000;
  width: 170px;
}
.menu-block .menu-items.main .menu-drop .menu-item {
  padding: 10px;
  text-transform: uppercase;
  display: block;
  color: #ad8820;
  cursor: default;
}
.menu-block .menu-items.main .menu-drop .menu-item:hover {
  background-color: #ad8820;
  color: #000;
}
.menu-block .menu-items.locale {
  display: block;
  top: 60px;
  left: 0;
  font-size: 22pt;
  padding-top: 8pt;
  font-weight: bold;
  box-sizing: border-box;
  color: #ad8820;
  text-decoration: none;
  text-align: center;
}
.menu-block .menu-items.locale:hover {
  background-color: #ad8820;
  color: #000;
}
.content-block {
  width: 100%;
}
.content-block .content-footer {
  background-color: #000;
  width: 100%;
  height: 120px;
  position: relative;
  color: #ad8820;
}
.content-block .content-footer .footer-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.content-block .content-item {
  width: 100%;
  background-color: #d3d3d3;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.content-block .content-item .content-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.content-block .content-item .content-inner .content-title {
  font-size: 24pt;
  color: #ad8820;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 320px;
  cursor: pointer;
}
.content-block .content-item .content-inner .content-title span {
  display: inline-block;
  background-color: #000;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -5px;
  margin-bottom: 3px;
}
.content-block .content-item.video {
  position: fixed;
  background-color: #000;
  height: 100%;
  overflow: hidden;
}
.content-block .content-item.video video {
  overflow: hidden;
  z-index: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.content-block .content-item.main {
  background-color: transparent;
}
.content-block .content-item.main .logo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  display: block;
  position: absolute;
  z-index: 1;
}
.content-block .content-item.main .content-partners {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.content-block .content-item.main .content-partners a {
  float: left;
}
.content-block .content-item.main .content-partners a span {
  width: 60px;
  height: 60px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.content-block .content-item.main .content-partners .mkrf {
  display: block;
  background-color: #fff;
}
.content-block .content-item.main .content-partners .mkrf span {
  background-size: 80%;
}
.content-block .content-item.main .content-partners .cult_mos {
  background-color: #f00;
}
.content-block .content-item.main .content-partners .manege {
  background-color: #000;
}
.content-block .content-item.main .content-partners .manege span {
  background-size: 80%;
}
.content-block .content-item.heads .content-inner {
  max-width: none;
  width: 100%;
  padding: 0;
}
.content-block .content-item.heads .content-inner .head-item {
  width: 40%;
  min-width: 440px;
  max-width: 640px;
  padding: 40px;
  padding-right: 60px;
  padding-left: 60px;
  box-sizing: border-box;
  border-right: 5px solid #000;
  cursor: default;
}
.content-block .content-item.heads .content-inner .head-item:first-child {
  border-left: 5px solid #000;
}
.content-block .content-item.heads .content-inner .head-item:after {
  content: '';
  width: 100%;
  height: 10px;
  top: 50%;
  left: 0;
  position: absolute;
  z-index: 0;
  margin-left: -5px;
  border-left: 5px solid #d3d3d3;
  border-right: 5px solid #d3d3d3;
}
.content-block .content-item.heads .content-inner .head-item .head-name {
  color: #fff;
  font-size: 24pt;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  max-width: 320px;
}
.content-block .content-item.heads .content-inner .head-item .head-name span {
  display: inline-block;
  background-color: #ad8820;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -5px;
  margin-bottom: 3px;
}
.content-block .content-item.heads .content-inner .head-item .head-status {
  margin-top: 5px;
  color: #000;
  font-size: 10pt;
  line-height: 12pt;
  max-width: 320px;
  text-transform: uppercase;
  color: #ad8820;
}
.content-block .content-item.heads .content-inner .head-item .head-quote {
  font-size: 14pt;
  line-height: 18pt;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.content-block .content-item.heads .content-inner .head-item .head-quote:before {
  font-size: 62pt;
  line-height: 62pt;
  display: block;
  content: '«';
  margin-left: -40px;
}
.content-block .content-item.heads .content-inner .head-item .head-quote:after {
  font-size: 62pt;
  line-height: 62pt;
  display: block;
  position: relative;
  left: 100%;
  content: '»';
}
.content-block .content-item.plan {
  padding-top: 40px;
}
.content-block .content-item.plan .content-inner {
  height: 0;
  position: relative;
  z-index: 999;
}
.content-block .content-item.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ad8820;
  height: auto;
}
.content-block .content-item.about .content-inner:before,
.content-block .content-item.about .content-inner:after {
  content: '';
  max-width: 1280px;
  width: 100%;
  height: 10px;
  background-color: #ad8820;
  position: absolute;
  z-index: 0;
}
.content-block .content-item.about .content-inner:before {
  top: 37%;
}
.content-block .content-item.about .content-inner:after {
  bottom: 33%;
}
.content-block .content-item.about .content-inner .content-columns {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-columns: 4 320px;
     -moz-columns: 4 320px;
          columns: 4 320px;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  -webkit-column-rule: 5px solid #000;
     -moz-column-rule: 5px solid #000;
          column-rule: 5px solid #000;
  font-size: 14pt;
  line-height: 16pt;
}
.content-block .content-item.about .content-inner .content-columns img {
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  padding-bottom: 20px;
}
.content-block .content-item.about .content-inner .content-columns p {
  background-color: #ad8820;
  position: relative;
  z-index: 1;
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.content-block .content-item.schedule {
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  background-color: #d3d3d3;
}
.content-block .content-item.schedule .content-schedule {
  position: relative;
}
.content-block .content-item.schedule .content-schedule .schedule-item {
  width: 50%;
  min-height: 180px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.content-block .content-item.schedule .content-schedule .schedule-item:last-child {
  margin-bottom: 0;
}
.content-block .content-item.schedule .content-schedule .schedule-item:nth-child(odd) {
  left: 0;
  border-right: 5px solid #000;
}
.content-block .content-item.schedule .content-schedule .schedule-item:nth-child(even) {
  left: 50%;
  border-left: 5px solid #000;
  margin-left: -5px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-date {
  font-size: 24pt;
  line-height: 26pt;
  padding-bottom: 20px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-event {
  padding-bottom: 20px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-event .event-title {
  text-transform: uppercase;
  font-size: 16pt;
  line-height: 18pt;
  padding-bottom: 10px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-event .event-description {
  font-size: 12pt;
  line-height: 14pt;
}
.content-block .content-item.contacts {
  padding-top: 40px;
}
.content-block .content-item.contacts .content-inner {
  height: 0;
  position: relative;
  z-index: 999;
}
.content-block .content-item.contacts .content-inner .content-box {
  width: 380px;
  height: 480px;
  float: right;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.6);
}
.content-block .content-item.contacts .content-inner .content-box p {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-pagination-bullet-active {
  background-color: #fff;
}
#plan-canvas,
#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.leaflet-container {
  background-color: #000 !important;
}
.leaflet-container img {
  max-width: none !important;
  width: auto !important;
  height: auto !important;
}
