// main-color = rgb(173, 136, 32)
main-color = rgb(134, 117, 80)

video::-webkit-media-controls {
	display:none!important;
}

video::-webkit-media-controls-enclosure {
	display:none!important;
}

html, body
	margin 0
	padding 0

html, body, .content-block, .content-item, .content-inner
	height 100%

p
	margin 0
	padding 0

// Menu Block


.menu-block
	top 0
	position fixed
	z-index 9999999
	.menu-items
		width 60px
		height 60px
		position absolute
		transition background .2s ease-in-out
		&.fill
			transition background .2s ease-in-out
			background-color black

		&.main
			left 0
			&:after
				top 0
				left 0
				right 0
				bottom 0
				position absolute
				margin auto
				border-bottom 17px double main-color
				border-top 6px solid main-color
				content ''
				height 5px
				width 30px
				float left
			&:hover
				background-color main-color;
				&:after
					border-color black
				.menu-drop
					display block
			.menu-drop
				display none
				left 60px
				position absolute
				box-sizing border-box
				background-color black
				width 170px
				.menu-item
					padding 10px
					text-transform uppercase
					display block
					color main-color
					cursor default
					&:hover
						background-color main-color
						color black

		&.locale
			display block
			top 60px
			left 0
			font-size 22pt
			padding-top 8pt
			font-weight bold
			box-sizing border-box
			color main-color
			text-decoration none
			text-align center
			&:hover
				background-color main-color
				color black


// Content Block


.content-block
	width 100%
	.content-footer
		background-color black
		width 100%
		height 120px
		position relative
		color main-color
		.footer-inner
			max-width 1280px
			margin 0 auto
			padding-left 40px
			padding-right 40px
	.content-item
		width 100%
		background-color lightgrey
		position relative
		overflow hidden
		box-sizing border-box
		.content-inner
			max-width 1280px
			margin 0 auto
			padding-left 40px
			padding-right 40px
			.content-title
				font-size 24pt
				color main-color
				display inline-block
				box-sizing border-box
				text-transform uppercase
				margin-bottom 40px
				max-width 320px
				&:hover span
					cursor default
					background-color white
					color main-color
				span
					display inline-block
					background-color black
					padding 2px
					padding-left 10px
					padding-right 10px
					margin-right -5px
					margin-bottom 3px

		&.video
			width 100%
			height 100%
			position fixed
			overflow hidden
			z-index 0
			background-color black
			video
				position absolute
				min-width 100%
				min-height 100%
				width auto
				height auto
				top 50%
				left 50%
				transform translate(-50%, -50%)

		&.main
			background-color transparent
			.logo
				top 0
				left 0
				right 0
				bottom 0
				margin auto
				width 65%
				display block
				position absolute
				z-index 1
			.content-partners
				position absolute
				bottom 0
				right 0
				overflow hidden
				a
					float left
				a span
					width 60px
					height 60px
					display block
					background-position center
					background-size contain
					background-repeat no-repeat
				.mkrf
					display block
					background-color white
					span
						background-size 80%
				.cult_mos
					background-color red
				.manege
					background-color black
					span
						background-size 80%

		&.heads
			.content-inner
				max-width none
				width 100%
				padding 0
				.head-item
					width 40%
					min-width 440px
					max-width 640px
					padding 40px
					padding-right 60px
					padding-left 60px
					box-sizing border-box
					border-right 5px solid black
					cursor default
					&:first-child
						border-left 5px solid black
					&:after
						content ''
						width 100%
						height 10px
						top 50%
						left 0
						position absolute
						z-index 0
						margin-left -5px
						border-left 5px solid lightgrey
						border-right 5px solid lightgrey
					.head-name
						color white
						font-size 24pt
						display inline-block
						box-sizing border-box
						text-transform uppercase
						max-width 320px
						&:hover span
							cursor default
							background-color white
							color main-color
						span
							display inline-block
							background-color main-color
							padding 2px
							padding-left 10px
							padding-right 10px
							margin-right -5px
							margin-bottom 3px
					.head-status
						margin-top 5px
						color black
						font-size 10pt
						line-height 12pt
						max-width 320px
						text-transform uppercase
						color main-color
					.head-quote
						font-size 14pt
						line-height 18pt
						text-transform uppercase
						position relative
						z-index 1
						.quote-before
						.quote-after
							width 0
							&:hover
								&:before
								&:after
									color main-color
						.quote-after
							position absolute
							right 0
						.quote-before:before
							font-size 62pt
							line-height 62pt
							display inline-block
							content '«'
							margin-left -40px
						.quote-after:after
							font-size 62pt
							line-height 62pt
							display inline-block
							content '»'

		&.plan
			.content-inner
				height 0
				position relative
				z-index 999
				.content-title
					margin-top 40px
				&.active
					.content-title
						position absolute
						z-index 99
					.content-preview-image
						display none
						top 40px
						max-width 1280px
						padding-right 380px
						height 580px
						position relative
						background-color white
						box-sizing border-box
						.preview-inner
							width 100%
							height 100%
							background-position center
							background-size contain
							background-repeat no-repeat
						&.active
							display block
					.content-preview-column
						margin-top 40px
						width 380px
						background-color white
						position absolute
						right 40px
						top 0
						.preview-images
							background-color white
							.swiper-slide
								width 100%
								height 200px
								background-position center
								background-size cover
								background-repeat no-repeat
								&:hover:after
									content '+'
									position absolute
									width 40px
									height 40px
									right 10px
									top 10px
									border-radius 40px
									background-color main-color
									color white
									font-size 24px
									text-align center
									line-height 36px
						.preview-body
							overflow scroll
							height 380px
							background-color white
							.preview-title
								font-size 16pt
								line-height 18pt
								text-transform uppercase
								padding-top 20px
								padding-bottom 10px
								padding-left 10px
								padding-right 10px
								box-sizing border-box
							.preview-description
								padding 10px
								box-sizing border-box
								p
									margin-bottom 20px

		&.about
			padding-top 40px
			padding-bottom 40px
			background-color main-color
			height auto
			.content-inner
				&:before
				&:after
					content ''
					max-width 1280px
					width 100%
					height 10px
					background-color main-color
					position absolute
					z-index 0
				&:before
					top 37%
				&:after
					bottom 33%
				.content-columns
					hyphens auto
					columns 4 320px
					column-gap 2em
					column-rule 5px solid black
					font-size 14pt
					line-height 16pt
					img
						z-index 1
						position relative
						width 100%
						display block
						padding-bottom 20px
					p
						background-color main-color
						position relative
						z-index 1
						break-inside avoid
						padding-bottom 20px

		&.schedule
			padding-top 40px
			padding-bottom 40px
			height auto
			background-color lightgrey
			.content-schedule
				position relative
				.schedule-item
					width 50%
					min-height 180px
					position relative
					box-sizing border-box
					padding 10px
					padding-bottom 0
					margin-bottom 10px
					&:last-child
						margin-bottom 0
					&:nth-child(odd)
						left 0
						border-right 5px solid black
						// background-color main-color
					&:nth-child(even)
						left 50%
						border-left 5px solid black
						margin-left -5px
						// background-color maroon
					.schedule-date
						font-size 24pt
						line-height 26pt
						padding-bottom 20px
					.schedule-event
						padding-bottom 20px
						.event-title
							text-transform uppercase
							font-size 16pt
							line-height 18pt
							padding-bottom 10px
						.event-description
							font-size 12pt
							line-height 14pt

		&.contacts
			padding-top 40px
			.content-inner
				height 0
				position relative
				z-index 999
				.content-box
					width 380px
					height 480px
					float right
					color white
					padding 10px
					box-sizing border-box
					background-color rgba(0, 0, 0, 0.6)
					p
						padding-bottom 20px


// Old Block


.swiper-container
	width 100%
	height 100%
	.swiper-pagination-bullet-active
		background-color white

#plan-canvas
#map-canvas
	width 100%
	height 100%
	position absolute
	top 0

.leaflet-container
	background-color black!important
	img
		max-width none!important
		width auto!important
		height auto!important