html, body
	margin 0
	padding 0

.leaflet-container
	background-color black!important
	img
		max-width none!important
		width auto!important
		height auto!important

html, body, .content_block, .scroll_block
	height 100%

.content_block
	width 100%
	height 100%
	overflow hidden

.scroll_block
	width 100%
	background-color grey

.navigate_block
	z-index 9999
	width 2px
	height 200px
	background-color white
	position fixed
	right 30px
	top 120px
	user-select none
	.navigate_center
		top 70px
		position relative
		.navigate_gap
			width 60px
			height 60px
			border-radius 60px
			position relative
			left -29px
			// background-color green
			.gap_inner
				width 20px
				height 20px
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				margin auto
				border-radius 30px
				background-color white