doctype html
html
	head
		title W A R | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
		link(rel='stylesheet', type='text/css', href='css/leaflet.css')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/swiper.jquery.min.js')
		script(type='text/javascript', src='js/leaflet.js')
		script(type='text/javascript', src='js/interact.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.navigate_block: .navigate_center: .navigate_gap: .gap_inner
		.content_block
			.swiper-container.swiper-container-v
				.swiper-pagination.swiper-pagination-v
				.swiper-wrapper
					//- .swiper-slide Main

					//- .swiper-slide About

					.swiper-slide
						.swiper-container.swiper-container-h
							.swiper-pagination.swiper-pagination-h
							.swiper-wrapper
								.swiper-slide Head 1
								.swiper-slide Head 2
								.swiper-slide Head 3
								.swiper-slide Head 4
								.swiper-slide Head 5

					.swiper-slide: #plan_map

					.swiper-slide Contacts