- var randomInt = function(min, max) {return Math.round(min - 0.5 + Math.random() * (max - min + 1)); }

doctype html
html
	head
		title W A R | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
		link(rel='stylesheet', type='text/css', href='css/leaflet.css')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/swiper.jquery.min.js')
		script(type='text/javascript', src='js/leaflet.js')
		script(type='text/javascript', src='js/main.js')
		script(type='text/javascript', src='js/g_maps.js')
	body
		.menu-block: .menu-inner
			a.menu-item.main(href='#') Главная
			a.menu-item.heads(href='#') Головы
			a.menu-item.about(href='#') О выставке
			a.menu-item.map(href='#') Карта
			a.menu-item.contacts(href='#') Контакты
		.content-block

			.content-item.video
				video(autoplay='autoplay', loop='loop', muted='muted', controls='')
					source(src='video/' + randomInt(1,3) + '.mp4', type='video/mp4')
					| Your browser does not support the video tag.

			.content-item.main
				img.logo(src='img/logo.svg')

			.content-item.heads: .content-inner
				.swiper-container.swiper-container-h
					.swiper-pagination.swiper-pagination-h
					.swiper-wrapper
						.swiper-slide Head 1
						.swiper-slide Head 2
						.swiper-slide Head 3
						.swiper-slide Head 4
						.swiper-slide Head 5

			.content-item.about: .content-inner
				.content-title О выставке
				.content-columns
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			.content-item.map
				#plan-canvas
				.content-inner
					.content-title Карта выставки

			.content-item.contacts
				#map-canvas
				.content-inner
					.content-title Контакты

			.content-footer: .footer-inner
				div ФУТЕР