doctype html
html
	head
		title W A R | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
		link(rel='stylesheet', type='text/css', href='css/leaflet.css')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/swiper.jquery.min.js')
		script(type='text/javascript', src='js/leaflet.js')
		script(type='text/javascript', src='js/interact.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.navigate_block: .navigate_center: .navigate_gap: .gap_inner
		.swiper-pagination
		.content_block: .content_inner
			.scroll_block
			.scroll_block#plan_map