- var randomInt = function(min, max) { return Math.round(min - 0.5 + Math.random() * (max - min + 1)); }

doctype html
html
	head
		title W A R | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
		link(rel='stylesheet', type='text/css', href='css/leaflet.css')
		script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/swiper.jquery.min.js')
		script(type='text/javascript', src='js/leaflet.js')
		script(type='text/javascript', src='js/main.js')
		script(type='text/javascript', src='js/g_maps.js')
	body
		.menu-block: .menu-inner
			.menu-items.left
				a.menu-item.main(href='#') Главная
				a.menu-item.heads(href='#') Цитаты
				a.menu-item.about(href='#') О выставке
				a.menu-item.schedule(href='#') Расписание
				a.menu-item.map(href='#') План выставки
				a.menu-item.contacts(href='#') Контакты
			.menu-items.right
				a.menu-item.locale(href='#') EN

		.content-block

			.content-item.video
				video(autoplay='autoplay', loop='loop', muted='muted', controls='')
					source(src='video/' + randomInt(1,3) + '.mp4', type='video/mp4')
					| Your browser does not support the video tag.

			.content-item.main
				img.logo(src='img/logo.svg')

			.content-item.heads: .content-inner
				.swiper-container.swiper-container-h
					.swiper-pagination.swiper-pagination-h
					.swiper-wrapper
						.swiper-slide Head 1
						.swiper-slide Head 2
						.swiper-slide Head 3
						.swiper-slide Head 4
						.swiper-slide Head 5

			.content-item.about: .content-inner
				.content-title О выставке
				.content-columns
					p Спином называют собственный момент импульса частицы. Момент импульса характеризует количество вращательного движения, то есть спин характеризует тот факт, что частицы ведут себя так, будто бы они вращаются вокруг своей оси. Частицы похожи на маленькие волчки и ведут себя очень похожим образом. Спин задает направление частицы, как бы делает ее ориентированной так же, как ось волчка задает для волчка выделенное направление. Спин может реагировать на толчки так же, как это делает волчок, если толкать его в сторону, и вообще ведет себя подобно миниатюрным гироскопам.
					p Если частица заряжена, например электрон, то естественна мысль о том, что у вращающейся заряженной частицы должен быть магнитный момент. Таким же будет вывод и для составной частицы, пусть даже в целом нейтральной, но состоящей из отдельных заряженных частей. Так и происходит, частицы представляют собой миниатюрные магниты. Они могут переворачиваться во внешнем магнитном поле, притягиваться или отталкиваться — все как настоящие магниты. Правда, представить себе, что именно вращается в элементарной частице, в том же электроне, нельзя: у электрона нет структуры.
					p Можно попытаться построить классический аналог электрона, формально приписав ему размер, но такое рассуждение приведет нас к вращению со сверхсветовыми скоростями. Поэтому физики называют спин внутренне присущим моментом импульса частицы. Для него нет правильной классической картины, это чисто квантовое явление. Но убедиться в его наличии не сложно, например, по расщеплению траекторий движения в магнитном поле. Для спинов, ориентированных вверх и вниз, траектории будут различны.
					p Как и все квантовые характеристики, спин может принимать только строго определенные значения. Спин принято измерять в долях постоянной Планка, и минимальное возможное значение спина соответствует ½ постоянной Планка. Но, как правило, физики говорят просто ½, 1, 2 и так далее. Более того, квантуется и проекция спина на любую выделенную ось. Отсюда возникает идея о возможности использования спина как квантового бита — его значения дискретны, а благодаря своей схожести с гироскопом спин может долго сохранять свое состояние.
					p Частицы, имеющие полуцелые и целые значения спина, имеют несколько разные свойства. Частицы, обладающие целым спином, восстанавливают свое состояние, если делают полный оборот, — это кажется абсолютно нормальным. Такие частицы называются бозонами и обладают удивительной способностью занимать большими группами одно и то же квантовое состояние. Такая ситуация называется конденсация Бозе — Эйнштейна и представляет собой крайне интересный для физиков объект для изучения. Простым примером состояния типа бозе-эйнштейновской конденсации является лазерный свет, ведь фотоны являются частицами со спином единица. Свойства лазерного света разительно отличаются от свойств, скажем, солнечного света или света лампочки: его можно хорошо сфокусировать, он распространяется слабо расходящимся пучком, спектрально яркий. Не совсем обычный свет, верно?
					p Частицы с полуцелым спином другие. Чтобы частица со спином ½ вернула свое состояние, ее нужно повернуть вокруг своей оси два раза — эта частица асимметрична. Такие частицы не могут занимать более одного состояния на частицу — они как бы избегают друг друга. Но не сложно сообразить, что если две такие частицы все же образуют пару, то их суммарный спин неизбежно образует целый спин. А значит, пары могут вести себя подобно бозонам. Действительно, так и происходит, подобный механизм лежит в основе явления сверхпроводимости и сверхтекучести.

			.content-item.schedule: .content-inner
				.content-title Расписание

			.content-item.map
				#plan-canvas
				.content-inner
					.content-title План выставки

			.content-item.contacts
				#map-canvas
				.content-inner
					.content-title Контакты
					.content-box
						p Адрес
						p Телефон

			.content-footer: .footer-inner
				div ФУТЕР